<form action="/songs" method="POST">
  <label> Song Name <input type="text" name="song[name]" id="Name" value="Name"/> </label>
<br /><br />
  <label> Artist Name <input type="text" name="artist[name]" id="Artist Name" value="Artist Name"/> </label>
<br />
<br />
<label>Genres</label>
<br />
<% Genre.all.each do |genre| %>
<input type="checkbox" id="<%=genre.name.titleize%>" name = "song[genre][]" value= <%=genre.id%>  ><%=genre.name.titleize%>
<% end %>
<br />
<br />
  <input type="submit" value="Create" />

</form>
